/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/
@font-face {
  font-family: Stampy;
  src: url("../img/stamp-text.ttf"); }

@font-face {
  font-family: Impacty;
  src: url("../img/Impact-Label.ttf"); }

@font-face {
  font-family: dam;
  src: url("../img/burnstown-dam.ttf"); }

/* 1. Main Layout ================================= */
* {
  box-sizing: border-box; }

body {
  height: 3000px;
  width: 100%; }

/* 2. Content ================================= */
#warped {
  position: relative;
  display: block;
  width: 853px;
  height: 539px;
  margin: auto; }

#warped > span[class^=w]:nth-of-type(n+0) {
  display: block;
  position: absolute;
  transform-origin: 50% 100%; }

#warped span {
  font-family: 'Crafty Girls';
  font-size: 61px;
  font-weight: regular;
  font-style: normal;
  line-height: 0.65;
  white-space: pre;
  overflow: visible;
  color: white;
  padding: 0px; }

#warped .w0 {
  transform: rotate(-0.81rad);
  width: 48px;
  height: 39px;
  left: 88.24px;
  top: 163.74px; }

#warped .w1 {
  transform: rotate(-0.71rad);
  width: 36px;
  height: 39px;
  left: 128.45px;
  top: 131.55px; }

#warped .w2 {
  transform: rotate(-0.64rad);
  width: 13px;
  height: 39px;
  left: 163.12px;
  top: 113.3px; }

#warped .w3 {
  transform: rotate(-0.56rad);
  width: 42px;
  height: 39px;
  left: 175.52px;
  top: 95.07px; }

#warped .w4 {
  transform: rotate(-0.48rad);
  width: 23px;
  height: 39px;
  left: 217.64px;
  top: 76.6px; }

#warped .w5 {
  transform: rotate(-0.39rad);
  width: 44px;
  height: 39px;
  left: 242.16px;
  top: 60.62px; }

#warped .w6 {
  transform: rotate(-0.29rad);
  width: 36px;
  height: 39px;
  left: 288.68px;
  top: 45.96px; }

#warped .w7 {
  transform: rotate(-0.19rad);
  width: 33px;
  height: 39px;
  left: 328.58px;
  top: 36.78px; }

#warped .w8 {
  transform: rotate(-0.11rad);
  width: 33px;
  height: 39px;
  left: 366.17px;
  top: 31.26px; }

#warped .w9 {
  transform: rotate(-0.04rad);
  width: 13px;
  height: 39px;
  left: 404.1px;
  top: 29.3px; }

#warped .w10 {
  transform: rotate(0.03rad);
  width: 36px;
  height: 39px;
  left: 422.09px;
  top: 29.19px; }

#warped .w11 {
  transform: rotate(0.1rad);
  width: 23px;
  height: 39px;
  left: 463px;
  top: 31.6px; }

#warped .w12 {
  transform: rotate(0.18rad);
  width: 32px;
  height: 39px;
  left: 490.64px;
  top: 36.35px; }

#warped .w13 {
  transform: rotate(0.24rad);
  width: 13px;
  height: 39px;
  left: 527px;
  top: 42.23px; }

#warped .w14 {
  transform: rotate(0.31rad);
  width: 36px;
  height: 39px;
  left: 543.83px;
  top: 50.42px; }

#warped .w15 {
  transform: rotate(0.41rad);
  width: 43px;
  height: 39px;
  left: 581.86px;
  top: 66.35px; }

#warped .w16 {
  transform: rotate(0.5rad);
  width: 23px;
  height: 39px;
  left: 625.88px;
  top: 83.26px; }

#warped .w17 {
  transform: rotate(0.57rad);
  width: 30px;
  height: 39px;
  left: 649.38px;
  top: 99.48px; }

#warped .w18 {
  transform: rotate(0.66rad);
  width: 39px;
  height: 39px;
  left: 676.95px;
  top: 122.5px; }

#warped .w19 {
  transform: rotate(0.76rad);
  width: 33px;
  height: 39px;
  left: 710.9px;
  top: 149.38px; }

#warped .w20 {
  transform: rotate(0.85rad);
  width: 36px;
  height: 39px;
  left: 736.69px;
  top: 177.92px; }

#warped .w21 {
  transform: rotate(-4.94rad);
  width: 15px;
  height: 24px;
  left: 291.34px;
  top: 241.16px; }

#warped .w22 {
  transform: rotate(-5.13rad);
  width: 35px;
  height: 24px;
  left: 290.41px;
  top: 269.1px; }

#warped .w23 {
  transform: rotate(-5.33rad);
  width: 11px;
  height: 24px;
  left: 315.89px;
  top: 293.43px; }

#warped .w24 {
  transform: rotate(-5.45rad);
  width: 11px;
  height: 24px;
  left: 325.92px;
  top: 306.06px; }

#warped .w25 {
  transform: rotate(-5.63rad);
  width: 23px;
  height: 24px;
  left: 336.08px;
  top: 321.03px; }

#warped .w26 {
  transform: rotate(-5.82rad);
  width: 13px;
  height: 24px;
  left: 360.45px;
  top: 333.21px; }

#warped .w27 {
  transform: rotate(-5.96rad);
  width: 10px;
  height: 24px;
  left: 376.94px;
  top: 339.51px; }

#warped .w28 {
  transform: rotate(-6.12rad);
  width: 18px;
  height: 24px;
  left: 391.5px;
  top: 344.25px; }

#warped .w29 {
  transform: rotate(-6.31rad);
  width: 19px;
  height: 24px;
  left: 414.54px;
  top: 345.96px; }

#warped .w30 {
  transform: rotate(-6.48rad);
  width: 11px;
  height: 24px;
  left: 438.25px;
  top: 343.84px; }

#warped .w31 {
  transform: rotate(-6.61rad);
  width: 11px;
  height: 24px;
  left: 453.82px;
  top: 339.75px; }

#warped .w32 {
  transform: rotate(-6.85rad);
  width: 36px;
  height: 24px;
  left: 467.28px;
  top: 327.41px; }

#warped .w33 {
  transform: rotate(-7.13rad);
  width: 23px;
  height: 24px;
  left: 499.63px;
  top: 305.43px; }

#warped .w34 {
  transform: rotate(-7.32rad);
  width: 15px;
  height: 24px;
  left: 517.86px;
  top: 286.08px; }

#warped .w35 {
  transform: rotate(-7.48rad);
  width: 23px;
  height: 24px;
  left: 524.39px;
  top: 264.74px; }

#warped .w36 {
  transform: rotate(-7.62rad);
  width: 11px;
  height: 24px;
  left: 537.18px;
  top: 243.16px; }

#warped .w37 {
  transform: rotate(-7.71rad);
  width: 10px;
  height: 24px;
  left: 540.69px;
  top: 227.71px; }

#warped .w38 {
  transform: rotate(-7.79rad);
  width: 15px;
  height: 24px;
  left: 539.99px;
  top: 211.19px; }

.fittext1 {
  font-family: dam;
  color: #27db99;
  font-size: 12em;
  padding-left: 10%;
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 100px auto;
  letter-spacing: .15em;
  animation: typing 3.5s 3s steps(40, end), blink-caret 0.75s step-end infinite; }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: orange; } }

.header {
  height: 132vh;
  width: 100%;
  overflow: hidden;
  background: #fdff99; }
  .header .title {
    position: absolute; }
  .header .blue-leaf {
    height: 40%;
    width: 30%;
    display: inline-block; }
    .header .blue-leaf img {
      max-width: 100%;
      max-height: 100%; }
  .header .purple-leaf {
    width: 32%;
    display: inline-block;
    float: right; }
    .header .purple-leaf img {
      max-width: 100%;
      max-height: 100%; }
  .header .green-leaf {
    height: 93%;
    width: 100%;
    display: inline; }
    .header .green-leaf img {
      max-width: 100%;
      max-height: 100%;
      transform: rotateZ(90deg);
      position: absolute;
      top: 46%;
      left: 47%; }
  .header .green-leaf-two {
    height: 93%;
    width: 100%;
    display: inline-block; }
    .header .green-leaf-two img {
      max-width: 100%;
      max-height: 100%;
      transform: rotateZ(90deg);
      position: absolute;
      top: 49%;
      left: 27%; }
  .header .green-leaf-three {
    height: 100%;
    width: 100%;
    display: inline; }
    .header .green-leaf-three img {
      transform: rotateZ(90deg);
      position: absolute;
      top: 48%; }
  .header .green-leaf-four {
    height: 90%;
    width: 100%;
    display: inline-block;
    float: right; }
    .header .green-leaf-four img {
      max-width: 100%;
      max-height: 100%;
      transform: rotateZ(90deg);
      position: absolute;
      top: 57%;
      right: 2%; }
  .header .about-reggie {
    position: absolute;
    top: 50%;
    right: 3%;
    text-align: right; }
    .header .about-reggie p {
      background-color: rgba(242, 193, 238, 0.5);
      background-size: 100%;
      margin: 30px;
      font-size: 1.7em;
      font-family: Impacty; }
    .header .about-reggie .bioB, .header .about-reggie .reverse, .header .about-reggie .reggie-lives {
      background-color: rgba(201, 255, 237, 0.5); }

.weird-monkey {
  width: 600px;
  height: auto;
  position: absolute;
  left: 36%; }
  .weird-monkey img {
    max-width: 100%;
    max-height: 100%; }

svg.heart {
  fill: #f9cc63;
  position: absolute;
  top: 50%;
  left: 30%;
  width: 50px;
  animation: pulse 1s ease infinite; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

.heart2 {
  fill: #f9cc63;
  position: absolute;
  top: 40%;
  left: 70%;
  width: 70px;
  animation: pulse 1s ease infinite; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

.heart3 {
  fill: #f9cc63;
  position: absolute;
  top: 20%;
  left: 5%;
  width: 15%;
  animation: pulse 1s ease infinite; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

.heart4 {
  fill: #f9cc63;
  position: absolute;
  top: 60%;
  left: 80%;
  width: 10%;
  animation: pulse 1s ease infinite; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

.part-two {
  height: 100vh;
  background-color: #219145;
  z-index: 2; }

.monkey-video {
  position: fixed;
  width: 300px;
  height: 100vh;
  z-index: -1; }
  .monkey-video video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%); }

.invisible {
  height: 100vh; }

.clear {
  height: 100vh;
  background-color: rgba(252, 255, 249, 0.5);
  position: relative; }
  .clear h1 {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 14%;
    margin-top: -50px;
    margin-left: -100px;
    font-family: Stampy;
    font-size: 4em;
    color: rgba(248, 255, 50, 0.8); }

.product {
  height: 100vh;
  background-color: #ffd8ad;
  text-align: center;
  overflow: hidden;
  position: relative; }
  .product h1 {
    transform: rotateZ(-27deg);
    left: 14%;
    top: 20%;
    position: absolute;
    font-family: Stampy;
    font-size: 4em; }
  .product h2 {
    transform: rotateZ(29deg);
    left: 65%;
    top: 25%;
    position: absolute;
    font-family: Stampy;
    font-size: 4em; }
  .product img {
    padding-top: 5%;
    display: inline-block;
    width: 20%;
    height: auto; }
  .product .lip-butter {
    animation: spin 5000ms linear infinite;
    left: 0; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

footer {
  height: 100vh;
  background-color: #24cc24;
  overflow: hidden; }
  footer img {
    height: 60%;
    width: auto;
    transform: rotateZ(29deg);
    margin-top: 5%;
    margin-left: 20%; }
  footer .monkeyy-info {
    margin-top: -21%;
    width: 400px;
    margin-left: 45%;
    font-size: 2em;
    text-align: right;
    font-family: Helvetica;
    line-height: 41px;
    color: #b3f28e; }

/*# sourceMappingURL=main.css.map */
